.card__like-button {
  width: 21px;
  height: 18px;
  background: transparent url('../../../images/like-inactive.svg') no-repeat;
  
  background-size: 21px 18px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 24px;
  right: 20px;
}


.like-count {
  position: absolute;
  bottom: 19px;
  right: 24px;
  font-size: 13px;
}

.card__like-button:hover {
  opacity: 0.6;
}
